<p align="center">     
 <img width="600" height="180" src="">
 </p> 

## 1.INTRODUÇÃO  
Programação = Analisar uma tarefa, separar em etapas, e criar linhas de comandos que o computador executa.  
  
Python = Liguagem interpretada (há um interpretador), É orientada a objetos, portável (mc, win, linux).  

Why Python:  
* pq é capaz de ser usada em muitas da tarefas que da área de DS (scrpping, collecting, analizing, cleaning, publishing);  
* Grande comunidade de uso;  
* Tem bibliotecas de análise de dados craidas por usuários;   
* Open Source;  
* Jupyter Notebook, programação via browser;  
* Facilidade de aprender;  
* Escalabilidade (fácil de escalar o tamanho dos projetos) e portabilidade (win, linux, mac);  

**PyData Stack:**   
Pack de pacotes prontos para uso em projetos; 
Pandas, NumPy, SciKit Learn, MarPlotLib  

**Para Desenvolver em Python:**    
* Interpretador:  
* Editor de textos ou IDE: IDE (Ambiente integrado de Desenvolvimento).  Sublime text, VSCode, Jupyter Notebook.   
Sugestão de IDE = PyCharm , Rodeo, Spyder  

DSA não recomenda usar Jupyter Lab pelo Conda NAvigador, mas chamar pelo prompt de comando:  
abra cmd > cd .. > cd .. 

**Executar pelo cmd**  
nome_da_engine nome_arquivo.py    
python hello.py  

Para habilitar a execução do python via cmd, deve ter clicado na caixa "add python ao path". Se nã, siga esse tutorial: 

https://dicasdepython.com.br/resolvido-python-nao-e-reconhecido-como-um-comando-interno/  

Para usar direto o shell do python, digite apenas python. 
dentro do shell, você pode executar codigos de python

**Bibliografia Recomendada**  
python.org

**CONHECENDO SO**  
* Variáveis de ambiente = local onde meus softwares estão  
Este Computador > righ click Propriedades > Configurações Avançadas de Sistema > Váriáveis de ambiente  
Configurar caminhos para executar programas no cmd;  
https://dicasdepython.com.br/resolvido-python-nao-e-reconhecido-como-um-comando-interno/   

* Lista de serviços Executados   
services.msc no executar  
Ex: Depois de instalar Oracle, ele sempre inicia o serviço em segundo plano. Se não estiver executando, poder parar o serviço nesse menu;  

* Contas de Usuário = Sempre criar contas sem espaço no nome, dentro windows, pois plataformas baseadas em unix podem apresentar problemas (spark, R);  

* Java = JRE (Java Runtime Environment) e JDK (Java development kit). Se for usar spark, hadoop... melhor instalar o JDK pq ele tem todos packs.  
Como saber a versão do java:  
CMD > C:\Users\cassio.bolba>java -version > enter  
se nada aparecer, voce não tem java.   

* Oracle Virtual Box = Virtual Machine  


CONFIGURAR VARIÁVEL JUPYTER


# 2. Variáveis, Tipo e Estrutura de Dados  
* Python é linguagem interpretada, precisa do interretador escrito em bitecode, que é multiplataforma (mac, win).  

* 3 modos de executar programas em python:  
* Modo Shell (cmd)  
* Modo Script (arquivos ext py)  
* Modo interativo (Jupyter)  

* Indentação faz parte da sintaxe do Python para definir hierarquia. Use tab ou espaços (4 espaços)

* Comente os códigos # ou 3 aspas duplas;    

### 2.1 Números e operações matemáticas:   
Int - Num inteiros, pos ou neg  
Float - Núm fracionários = 7.1    

Type() - Saber tipo de número  

int() e float () para transformar em um dos tipos

In [ ]:
# Conversão
float(9)

In [ ]:
int(6.0)

In [ ]:
int(6.5)

In [ ]:
# Hexadecimal e Binário
hex(394)

In [ ]:
#Funções abs, round e pow
# Retorna o valor absoluto
abs(-8)

In [ ]:
# Retorna o valor absoluto
abs(8)

In [ ]:
# Retorna o valor com arredondamento
round(3.14151922,2)

In [ ]:
# Potência
pow(4,2)

In [ ]:
# Potência
pow(5,3)

### 2.2 Variáveis e Operadores:  
**Variáveis**  
Usadas para armazenar valores que queremos usar mais tarde.

In [ ]:
b = 10

In [ ]:
print(b)

* Nome de variável não pode começar com numero  
* Não pode haver espaço no nome  
* há alguns simbolos que não pode usar
* Não pode usar palavras reservadas  

**Operadores**    
* Aritiméticos: +, -
* Relacionais: <, >, ==, != 
* Atribuição: Z = 10 ou Z += 10 (é igual a Z + 10) (duas operações na mesma linha)  
* Lógicos: and, or, not  

**Declaração Múltipla:**

In [ ]:
pessoa1, pessoa2, pessoa3 = "Maria", "José", "Tobias"

In [ ]:
pessoa1

In [ ]:
fruta1 = fruta2 = fruta3 = "Laranja"

In [ ]:
fruta2

Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.  
Letras maiúsculas e minúsculas tem diferença no nome da variável.

**Variáveis atribuídas a outras variáveis e ordem dos operadores:**

In [ ]:
largura = 2

In [ ]:
altura = 4

In [ ]:
area = largura * altura

In [ ]:
area

In [ ]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

**Operações com variáveis:**

In [ ]:
idade1 = 25

In [ ]:
idade2 = 35

In [ ]:
idade1 + idade2

In [ ]:
# diferença entre as variáveis
idade2 % idade1

**Concatenação de Variáveis:**

In [ ]:
nome = "Steve"

In [ ]:
sobrenome = "Jobs"

In [ ]:
FullName = nome + " " + sobrenome

In [ ]:
FullName

### 2.3 Strings: 
texto, sequência de caracteres imutáveis.  
Pode-se usar indexação.  
* Indexação: utiliza-se dentro de colchetes []  
ex: "Python"  
Para chamar só a letra P =

In [ ]:
texto = "Python"

In [ ]:
#Vai retornar P
texto[0]

In [ ]:
#Vai retornar n, o primeiro de trás pra frente
texto[-1]

**Funções built-in de Strings**  
linguagem orientada a objeto, logo os dados possuem **ATRIBUTOS** (propriedades) e **MÉTODOS** (rotinas associadas a prop.). Ambos são acessados usando "." .  
EX:  
objeto.atributo
objeto.método(parâmetro) (em métodos podemos usar parâmetros)

In [ ]:
print('test')
# Printa a string test

In [ ]:
print('\ntest')
# Printa a string test com espaço antes

In [ ]:
s = 'Data Science'
# Atribui valor a string

In [ ]:
s[0]  
# Retorna D

**SLICING:**

In [ ]:
s[1:]  
# Retorna todos os elementos da string, começando pela posição 1 
# até o fim da string = 'ata Science'

In [ ]:
s[:3]  
# Retorna tudo até a posição, menos a posição 3 = 'Dat'

In [ ]:
s[:-1]
# Retornar tudo, exceto a última letra = 'Data Scienc

In [ ]:
s[::1]  
# dois pontos retorna tudo a cada contagem do num add depois 
# = 'Data Science'  (não pulou nenhum, pois pega 1 por 1)

In [ ]:
s[::2]  
# Retorna 'Dt cec' pois pega a cada duas, 1 letra.

**Propriedades de String**

In [ ]:
a = 'Cassio'

In [ ]:
b = 'Lindo'

In [ ]:
c = a + ' ' + b

In [ ]:
# Concatenação Retorna 'Cassio Lindo'
c

In [ ]:
# Retorna 'CassioCassio' 
d = a * 2

In [ ]:
d

**Funções String**

In [ ]:
# String de Exemplo
s = 'seja bem vindo ao universo de python'

In [ ]:
# Capitalização
s.capitalize()

In [ ]:
# Conta o número de a
s.count('a')

In [ ]:
# Diz qual a posição da letra p
s.find('p')

In [ ]:
s.center(20, 's')

In [ ]:
# Diz se é número
s.isalnum()

In [ ]:
s.isalpha()

In [ ]:
# é minúscula
s.islower()

In [ ]:
# Termina com o?
s.endswith('o')

**Comparando Strings**

In [ ]:
print("Python" == "R")

In [ ]:
print("Python" == "Python")

**Funções Built-in de Strings**

In [ ]:
s

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
# Dividir uma string por espaços em branco (padrão)
s.split()

In [ ]:
# Dividir uma string por um elemento específico
s.split('y')

## 2.4 Estrutura de Dados - Listas  
Sequência de ítens.   
Listas podem ser alteradas, os elementos dentro podem mudar.  

São construídas com [] e , para separar os ítens.  
* Não á restrição para uso de caracteres do mesmo tipo dentro de lista;  
* Se assemelham a matrizes, comparando com outras liguagens (mas mais flexíveis);  
* Podemos criar listas dentro de listas, ou, listas alinhadas;

In [2]:
# Criando outra lista, cada item de string entre ""
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [3]:
# Imprimindo a lista
print(listadomercado2)

['ovos', 'farinha', 'leite', 'maças']

**Atribuindo cada valor da lista a uma variável:** 
vName = ListName[number Object Position in the list]

In [4]:
# Atribuindo cada valor da lista a uma variável.
item1 = listadomercado2[0]
item2 = listadomercado2[1]
item3 = listadomercado2[2]

In [5]:
print(item1, item2, item3)

ovos farinha leite

**Modificando uma Lista**

In [9]:
# Atualizando um item da lista
listadomercado2[2] = "chocolate"

In [18]:
listadomercado2

['ovos', 'farinha', 'chocolate']

In [19]:
# Deletando um item específico da lista
del listadomercado2[3]

IndexError: list assignment index out of range

In [26]:
listadomercado2

['ovos', 'farinha', 'chocolate', 'maça']

**Listas de Listas (Listas Alinhadas)**  
São Matrizes

In [27]:
# Criando uma lista de listas
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

Cada lista dentro da lista, recebe um valor de ordem indexada.  
A lista [1,2,3] pode ser chamada e atribuida a uma variável.

In [31]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [32]:
a

[1, 2, 3]

 Para chamar um itém dentro de uma lista de uma lista. Deve-se chamar uma lista e depois chamar o item dentro da lista:

In [40]:
# criando a variável especificando que ela vem do item 0 da lista a
a_0_0 = a[0]

In [41]:
a_0_0

1

**Operações com Listas**

In [42]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [43]:
# Atribuindo à variável a, o primeiro valor da primeira lista
a = listas[0][0]

In [44]:
b = listas[1][2]

In [45]:
e = b * listas[2][0]

In [46]:
e

141.4

In [47]:
b

14

**Concateando Listas**

In [48]:
# Cria as duas listas
lista_s1 = [34, 32, 56]
lista_s2 = [21, 90, 51]

In [53]:
# Concatenando listas
lista_teste_op = lista_s1 + lista_s2

In [54]:
lista_teste_op

[34, 32, 56, 21, 90, 51]

**Operador in**

In [55]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [56]:
# Verificando se o valor 90 pertence a lista
print(90 in lista_teste_op)

True

**Funções Built-in**

In [57]:
# Função len() retorna o comprimento da lista
len(lista_teste_op)

6

In [58]:
# Função max() retorna o valor máximo da lista
max(lista_teste_op)

90

In [59]:
# Função min() retorna o valor mínimo da lista
min(lista_teste_op)

21

In [60]:
# Criando uma lista
listadomercado2 = ["ovos", "farinha", "leite", "maças"]

In [61]:
# Adicionando um item à lista
listadomercado2.append("carne")

In [62]:
listadomercado2.count("carne")

1

In [63]:
# Criando uma lista vazia
a = []

In [65]:
# Tipo do elemento (list, char, int...)
type(a)

list

In [66]:
a.append(10)

In [67]:
a.append(50)

In [68]:
a

[10, 50]

In [69]:
old_list = [1,2,5,10]

In [70]:
new_list = []

In [71]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [72]:
new_list

[1, 2, 5, 10]

In [73]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [75]:
# Ver o indice de um item na lista
cidades.index('Salvador')

2

In [76]:
cidades.insert(2, 110)

In [77]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [78]:
cidades.remove(110)

In [79]:
lista_para_ordenar = [1,3,2,9,5]

In [87]:
lista_para_ordenar.sort()

In [88]:
lista_para_ordenar

[1, 2, 3, 5, 9]

## 2.4 Estrutura de Dados - Dicionários  
São mapeamentos de chaves e valores, uma coleção de objetos armazenados por uma chave, contrário de uma sequência que é armazenada por sua posição relativa.  
São construídos com uso de chaves {} e vírgulas separando cada elemento.  
Se a assemelham a hash tables.  
EX= dict = {k1:v1, k2:v2}

In [89]:
# Isso é uma lista
estudantes_lst = ["Mateus", 24, "Fernanda", 22, "Tamires", 26, "Cristiano", 25]

In [90]:
estudantes_lst

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [91]:
# Isso é um dicionário
estudantes_dict = {"Mateus":24, "Fernanda":22, "Tamires":26, "Cristiano":25}

In [92]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [93]:
# Se você chave, ele mostra o valor associado a ela
estudantes_dict["Mateus"]

24

In [94]:
# número de items
len(estudantes_dict)

4

In [95]:
# número de  chaves
estudantes_dict.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano'])

In [97]:
# número de Valores
estudantes_dict.values()

dict_values([24, 22, 26, 25])

In [99]:
# Nova Lista
estudantes2 = {"Maria":27, "Erika":28, "Milton":26}

In [100]:
# Atualizar os valores de uma lista com outra lista update, incremental
estudantes_dict.update(estudantes2)

In [102]:
estudantes_dict

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Maria': 27,
 'Erika': 28,
 'Milton': 26}

In [103]:
# novo dict
dic1 = {}

In [106]:
# Atribuir item chave e valor em um dicionário
dic1["Key_one"] = 2

In [107]:
dic1

{'Key_one': 2}

In [108]:
dic1[8.2] = "Python"

In [109]:
dic1

{'Key_one': 2, 8.2: 'Python'}

In [133]:
# Dicionário de listas
dict3 = {'Key1':[1,2,'a'],'Key2':[4,5,6]}

In [134]:
dict3

{'Key1': [1, 2, 'a'], 'Key2': [4, 5, 6]}

In [138]:
# Acessando um item da lista, dentro do dicionário [Chave][Index].(função())
dict3['Key1'][2].upper()

'A'

In [139]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [140]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [141]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

## 2.5 Estrutura de Dados - Tuplas  
São  como listas, porém não podem ser alteradas.  
Normalmente usadas para ítens que não podem ser alterados, como datas.  
Não são frequentementes usadas, apenas quando precisa-se garantir a integridade dos dados.    

TUPLAS SÃO CRIADAS COM PARENTESIS ()
TUPLA = ('cASSIO', 1 ,2 )

In [142]:
# ao invés de usar [] se usa ()
tupla = ('A' , 'B' , 'C')

In [143]:
tupla

('A', 'B', 'C')

Tuplas não podem ser alteradas, deletadas, incluidas...   
PAra contornar isso, pode-se transformar uma tupla e lista, e depois em tupla novamente.  
Ex: incluir a letra D na tupla

In [144]:
lista = list(tupla)

In [145]:
lista

['A', 'B', 'C']

In [146]:
lista.append('D')

In [147]:
lista

['A', 'B', 'C', 'D']

In [148]:
tupla2 = tuple(lista)

In [149]:
tupla2

('A', 'B', 'C', 'D')